body {
  font-family: cursive;
}
div {
  width: 450px;
  border: 1px solid black;
}
h1 {
  margin-left: 20px;
  margin-bottom: 100px;
}
img {
  position: absolute;
  top: 20px;
  left: 290px;
}
p {
  margin-left: 20px;
}
button {
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
